<h1>Products (<%= @products.length %>)</h1>
<%= link_to "New Product", "/products/new" %>



<%- @products.each do |product| %>


  <p><strong>Product: </strong> <h2><%= link_to "#{product[:name]}", "/products/#{product.id}" %></h2></p>
  <p><strong>Description:</strong> <%= product[:description] %></p>
  <p><strong>Price:</strong> $<%= product.formatted_price%></p>
  <p>_________________</p>

<% end %>
